/*General styles*/
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
/*Header section*/

header {
  position: fixed;
  z-index: 10;
  top: 0;
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  /*for testing*/
  border: 1px solid pink;
}

header img {
  padding-left: 10px;
  height: 50px;
}

header li {
  list-style: none;
  display: inline-block;
  text-align: right;
}

header a {
  color: inherit;
}

/*Main section*/
main {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 69px;
  /*for testing*/
  border: 1px solid yellow;
}

#mission {
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  flex-wrap: nowrap;
}

.text {
  background-color: inherit;
  width: 1200px;
}
