/*General styles*/
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
/*Header section*/

header {
  position: fixed;
  z-index: 10;
  top: 0;
  height: 69px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  /*for testing*/
  border: 1px solid pink;
}

header img {
  padding-left: 10px;
  height: 50px;
}

header li {
  list-style: none;
  display: inline-block;
  text-align: right;
  padding: 10px;
  margin: 10px;
}

header a {
  color: inherit;
}

/*Main section*/
main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 69px;
  /*for testing*/
  border: 1px solid yellow;
}

/*Adds black background for text over images*/
.textOverImage {
  background-color: black;
  /*for testing*/
  border: 1px solid pink;
}

#mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  margin: 0 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#mission .textOverImage {
  width: 1200px;
}

#tea {
  width: 1000px;
  /*for testing*/
  border: 1px solid pink;
}


.imageRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /*for testing*/
  border: 1px solid green;
}

/*Flex container with flex direction: column */
.imageCap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.imageCap img {
  height: 200px;
  width: 300px;
}

.imageCap h4 {
  margin: 10px;
}

#locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
}

#locations h2 {
  margin-bottom: 15px;
}

.row {
  display: flex;
  justify-content: center;
  align-content: center;
}

#locations .textOverImage {
  width: 300px;
  opacity: 1;
  margin: 0 20px;
}

#contact {
  height: 200px;
}

footer {
  width: 100%;
  text-align: left;
  margin-left: 20px;
}
